<!-- templates/classroom.html -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Classroom: {{ classroom.name }}</h2>
    <h3>Teacher: {{ classroom.teacher }}</h3>

    <div class="assignments mt-4">
        <h3>Assignments</h3>
        {% if classroom.assignments %}
            {% for assignment in classroom.assignments %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;font-size: 2em;">{{ assignment.title }}</h4>
                        <h5>Questions:</h5>
                        <p class="card-text">{{ assignment.questions }}</p>
                        {% if user.role == 'teacher' %}
                            <h5>Model Answers:</h5>
                            <p class="card-text">{{ assignment.model_answers }}</p>
                            <div class="mt-3">
                                <a href="{{ url_for('view_all_submissions', classroom_code=classroom.code, assignment_id=loop.index0) }}" 
                                   class="btn btn-info">View All Submissions</a>
                            </div>
                        {% else %}
                            {% if assignment.submissions and user.username in assignment.submissions %}
                                <a href="{{ url_for('view_submission', classroom_code=classroom.code, assignment_id=loop.index0) }}" 
                                   class="btn btn-info">View Submission</a>
                            {% else %}
                                <a href="{{ url_for('submit_assignment', classroom_code=classroom.code, assignment_id=loop.index0) }}" 
                                   class="btn btn-primary">Submit Answer</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No assignments yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
